---
http_interactions:
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/v13/CampaignManagementService.svc?singleWsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:v13="https://bingads.microsoft.com/CampaignManagement/v13"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><v13:AuthenticationToken><ACCESS_TOKEN></v13:AuthenticationToken><v13:DeveloperToken><DEVELOPER_TOKEN></v13:DeveloperToken><v13:CustomerAccountId><CUSTOMER_ACCOUNT_ID></v13:CustomerAccountId><v13:CustomerId><CUSTOMER_ID></v13:CustomerId></env:Header><env:Body><v13:GetCampaignsByAccountIdRequest
        xmlns="https://bingads.microsoft.com/CampaignManagement/v13"><v13:AccountId><CUSTOMER_ACCOUNT_ID></v13:AccountId></v13:GetCampaignsByAccountIdRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"GetCampaignsByAccountId"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Ms-Requestid:
      - 9d9a0974-62a5-47d2-9944-570b4ea3dfcd
      X-Ms-Trackingid:
      - 9d9a0974-62a5-47d2-9944-570b4ea3dfcd
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v13">9d9a0974-62a5-47d2-9944-570b4ea3dfcd</h:TrackingId></s:Header><s:Body><GetCampaignsByAccountIdResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v13"><Campaigns xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Campaign><AudienceAdsBidAdjustment>0</AudienceAdsBidAdjustment><BiddingScheme
        i:type="MaxConversionsBiddingScheme"><Type>MaxConversions</Type><MaxCpc><Amount>1</Amount></MaxCpc></BiddingScheme><BudgetType>DailyBudgetStandard</BudgetType><DailyBudget>1</DailyBudget><ExperimentId
        i:nil="true"/><FinalUrlSuffix i:nil="true"/><ForwardCompatibilityMap xmlns:a="http://schemas.datacontract.org/2004/07/System.Collections.Generic"/><Id>696977224</Id><Name>Tofu
        | Branded Keywords | US</Name><Status>Paused</Status><SubType i:nil="true"/><TimeZone>Hobart</TimeZone><TrackingUrlTemplate
        i:nil="true"/><UrlCustomParameters i:nil="true"/><CampaignType>Search</CampaignType><Settings><Setting
        i:type="DynamicSearchAdsSetting"><Type>DynamicSearchAdsSetting</Type><DomainName>adscustomer.global</DomainName><Language>English</Language><PageFeedIds
        xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><Source>SystemIndex</Source></Setting></Settings><BudgetId
        i:nil="true"/><Languages xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string>English</a:string></Languages></Campaign><Campaign><AudienceAdsBidAdjustment>0</AudienceAdsBidAdjustment><BiddingScheme
        i:type="MaxConversionsBiddingScheme"><Type>MaxConversions</Type><MaxCpc><Amount>1.6</Amount></MaxCpc></BiddingScheme><BudgetType>DailyBudgetStandard</BudgetType><DailyBudget>5</DailyBudget><ExperimentId
        i:nil="true"/><FinalUrlSuffix i:nil="true"/><ForwardCompatibilityMap xmlns:a="http://schemas.datacontract.org/2004/07/System.Collections.Generic"/><Id>696977225<[...]
